# Aspiring Mind Employment Outcome 2015 Preprocessing  - By Ishaq Miyawala

**Dataset Info** : The dataset was released by Aspiring Minds(now under as shl groups limited) from the Aspiring Mind Employment Outcome 2015 (AMEO).

*The study is primarily limited  only to students with engineering disciplines.* 

The dataset contains the employment outcomes of engineering graduates as dependent variables (Salary, Job Titles, and Job Locations) along with the standardized scores from three different areas â€“ cognitive skills, technical skills and personality skills. The dataset also contains demographic features. The dataset  contains  around  40 independent variables and 4000 data points. The independent variables are both continuous and categorical in nature. The dataset contains a unique identifier for each candidate.

**Objective** : preprocessing data so that it can be used for analysis

In [165]:
#import necessary libraries
import numpy as np
import pandas as pd
import re
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from scipy import stats
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)

In [166]:
df = pd.read_csv('amcat_dataset.csv')

In [167]:
df.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000.0,6/1/12 0:00,present,senior quality engineer,Bangalore,f,2/19/90 0:00,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,B.Tech/B.E.,computer engineering,78.00,1141,0,Andhra Pradesh,2011,515,585,525,0.635979,445,-1,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000.0,9/1/13 0:00,present,assistant manager,Indore,m,10/4/89 0:00,85.4,cbse,2007,85.0,cbse,5807,2,B.Tech/B.E.,electronics and communication engineering,70.06,5807,0,Madhya Pradesh,2012,695,610,780,0.960603,-1,466,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000.0,6/1/14 0:00,present,systems engineer,Chennai,f,8/3/92 0:00,85.0,cbse,2010,68.2,cbse,64,2,B.Tech/B.E.,information technology,70.00,64,0,Uttar Pradesh,2014,615,545,370,0.450877,395,-1,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000.0,7/1/11 0:00,present,senior software engineer,Gurgaon,m,12/5/89 0:00,85.6,cbse,2007,83.6,cbse,6920,1,B.Tech/B.E.,computer engineering,74.64,6920,1,Delhi,2011,635,585,625,0.974396,615,-1,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000.0,3/1/14 0:00,3/1/15 0:00,get,Manesar,m,2/27/91 0:00,78.0,cbse,2008,76.8,cbse,11368,2,B.Tech/B.E.,electronics and communication engineering,73.90,11368,0,Uttar Pradesh,2012,545,625,465,0.124502,-1,233,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [168]:
df.shape

(3998, 39)

In [169]:
df.columns

Index(['Unnamed: 0', 'ID', 'Salary', 'DOJ', 'DOL', 'Designation', 'JobCity',
       'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience'],
      dtype='object')

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3998 non-null   object
 1   ID                     3998 non-null   int64
 2   Salary                 3998 non-null   float64
 3   DOJ                    3998 non-null   object
 4   DOL                    3998 non-null   object
 5   Designation            3998 non-null   object
 6   JobCity                3998 non-null   object
 7   Gender                 3998 non-null   object
 8   DOB                    3998 non-null   object
 9   10percentage           3998 non-null   float64
 10  10board                3998 non-null   object
 11  12graduation           3998 non-null   int64
 12  12percentage           3998 non-null   float64
 13  12board                3998 non-null   object
 14  CollegeID              3998 non-null   int64
 15  CollegeTier            3998 non-null   int64
 16  Degree                 3998 non-null   object
 17  Specialization         3998 non-null   object
 18  collegeGPA             3998 non-null   float64
 19  CollegeCityID          3998 non-null   int64
 20  CollegeCityTier        3998 non-null   int64
 21  CollegeState           3998 non-null   object
 22  GraduationYear         3998 non-null   int64
 23  English                3998 non-null   int64
 24  Logical                3998 non-null   int64
 25  Quant                  3998 non-null   int64
 26  Domain                 3998 non-null   float64
 27  ComputerProgramming    3998 non-null   int64
 28  ElectronicsAndSemicon  3998 non-null   int64
 29  ComputerScience        3998 non-null   int64
 30  MechanicalEngg         3998 non-null   int64
 31  ElectricalEngg         3998 non-null   int64
 32  TelecomEngg            3998 non-null   int64
 33  CivilEngg              3998 non-null   int64
 34  conscientiousness      3998 non-null   float64
 35  agreeableness          3998 non-null   float64
 36  extraversion           3998 non-null   float64
 37  nueroticism            3998 non-null   float64
 38  openess_to_experience  3998 non-null   float64
dtypes: float64(10), int64(17), object(12)
memory usage: 1.2+ MB

## Data Preprocessing

In [171]:
#dropping the unnecessary column
new_df = df.drop(columns=['Unnamed: 0', 'ID', 'CollegeID', 'CollegeCityID'])

### Tackling Null values

In [172]:
new_df.isnull().sum()

Salary                   0
DOJ                      0
DOL                      0
Designation              0
JobCity                  0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
dtype: int64

In [173]:
new_df.duplicated().sum()

0

In [174]:
new_df.nunique()

Salary                    177
DOJ                        81
DOL                        67
Designation               419
JobCity                   339
Gender                      2
DOB                      1872
10percentage              851
10board                   275
12graduation               16
12percentage              801
12board                   340
CollegeTier                 2
Degree                      4
Specialization             46
collegeGPA               1282
CollegeCityTier             2
CollegeState               26
GraduationYear             11
English                   111
Logical                   107
Quant                     138
Domain                    243
ComputerProgramming        79
ElectronicsAndSemicon      29
ComputerScience            20
MechanicalEngg             42
ElectricalEngg             31
TelecomEngg                26
CivilEngg                  23
conscientiousness         141
agreeableness             149
extraversion              154
nueroticism               217
openess_to_experience     142
dtype: int64

In [175]:
new_df.isin([0, '0']).sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                     0
Gender                      0
DOB                         0
10percentage                0
10board                   350
12graduation                0
12percentage                0
12board                   359
CollegeTier                 0
Degree                      0
Specialization              0
collegeGPA                  0
CollegeCityTier          2797
CollegeState                0
GraduationYear              1
English                     0
Logical                     0
Quant                       0
Domain                      0
ComputerProgramming         0
ElectronicsAndSemicon       0
ComputerScience             0
MechanicalEngg              0
ElectricalEngg              0
TelecomEngg                 0
CivilEngg                   0
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

As we can see that the amcat score data for various engineering branches contains wide amount of -1, which means that the examinee didn't gave that particular module(optional) exam in amcat, hence we can count as null value

1. we will first see the percentage of these null values
2. remove those columns with way higher # of null values (>85%)
3. Update the -1 values as Nan values in dataset

In [176]:
new_df.isin([-1]).sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                     0
Gender                      0
DOB                         0
10percentage                0
10board                     0
12graduation                0
12percentage                0
12board                     0
CollegeTier                 0
Degree                      0
Specialization              0
collegeGPA                  0
CollegeCityTier             0
CollegeState                0
GraduationYear              0
English                     0
Logical                     0
Quant                       0
Domain                    246
ComputerProgramming       868
ElectronicsAndSemicon    2854
ComputerScience          3096
MechanicalEngg           3763
ElectricalEngg           3837
TelecomEngg              3624
CivilEngg                3956
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

In [177]:
null_percentage = (new_df==-1).sum()[(new_df==-1).sum()>0]/len(new_df)*100
null_percentage

Domain                    6.153077
ComputerProgramming      21.710855
ElectronicsAndSemicon    71.385693
ComputerScience          77.438719
MechanicalEngg           94.122061
ElectricalEngg           95.972986
TelecomEngg              90.645323
CivilEngg                98.949475
dtype: float64

In [178]:
columns = null_percentage[null_percentage.values > 85].index
new_df.drop(columns= columns, inplace=True)

In [179]:
new_df.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000.0,6/1/12 0:00,present,senior quality engineer,Bangalore,f,2/19/90 0:00,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",2,B.Tech/B.E.,computer engineering,78.00,0,Andhra Pradesh,2011,515,585,525,0.635979,445,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000.0,9/1/13 0:00,present,assistant manager,Indore,m,10/4/89 0:00,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,electronics and communication engineering,70.06,0,Madhya Pradesh,2012,695,610,780,0.960603,-1,466,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000.0,6/1/14 0:00,present,systems engineer,Chennai,f,8/3/92 0:00,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,information technology,70.00,0,Uttar Pradesh,2014,615,545,370,0.450877,395,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000.0,7/1/11 0:00,present,senior software engineer,Gurgaon,m,12/5/89 0:00,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,computer engineering,74.64,1,Delhi,2011,635,585,625,0.974396,615,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000.0,3/1/14 0:00,3/1/15 0:00,get,Manesar,m,2/27/91 0:00,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,electronics and communication engineering,73.90,0,Uttar Pradesh,2012,545,625,465,0.124502,-1,233,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [180]:
new_df.isin([-1, '-1']).sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                   461
Gender                      0
DOB                         0
10percentage                0
10board                     0
12graduation                0
12percentage                0
12board                     0
CollegeTier                 0
Degree                      0
Specialization              0
collegeGPA                  0
CollegeCityTier             0
CollegeState                0
GraduationYear              0
English                     0
Logical                     0
Quant                       0
Domain                    246
ComputerProgramming       868
ElectronicsAndSemicon    2854
ComputerScience          3096
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

In [181]:
#we will replace the -1 integer values as Nan for amcat modules score
new_df = new_df.replace({-1:np.nan})

In [182]:
#similarly as '0' can't be board name for 10th and 12th exams, so we will replace them with null values
new_df['10board'] = new_df['10board'].replace({'0':np.nan})
new_df['12board'] = new_df['12board'].replace({'0':np.nan})

In [183]:
#similarly '-1' in jobcity represents that students didn't mention city of their current job
new_df['JobCity'] = new_df['JobCity'].replace({'-1':np.nan})

In [184]:
new_df['GraduationYear'] = new_df['GraduationYear'].replace({0:np.nan})

In [185]:
updated_null_percentage = new_df.isnull().sum()[new_df.isnull().sum() > 0]/len(new_df)*100
updated_null_percentage

JobCity                  11.530765
10board                   8.754377
12board                   8.979490
GraduationYear            0.025013
Domain                    6.153077
ComputerProgramming      21.710855
ElectronicsAndSemicon    71.385693
ComputerScience          77.438719
dtype: float64

In [186]:
new_df[updated_null_percentage.index].dtypes

JobCity                   object
10board                   object
12board                   object
GraduationYear           float64
Domain                   float64
ComputerProgramming      float64
ElectronicsAndSemicon    float64
ComputerScience          float64
dtype: object

#### Imputing numerical values

In [187]:
#we will impute mean in the domain null values, and will not impute other optional modules.
new_df['Domain'].fillna(new_df['Domain'].median(), inplace = True)
new_df['GraduationYear'].fillna(new_df['GraduationYear'].mode()[0], inplace = True)

#### Imputing categorical values

We will need to tackle with different values in categorical columns and after that we will impute null values with
the mode of that particular column.

****
For 10th and 12th board categorical values we will deduce the categories to state, center or icse boards
****

In [188]:
new_df['10board'].value_counts(dropna=False)

10board
cbse                          1395
state board                   1164
NaN                            350
icse                           281
ssc                            122
                              ...
hse,orissa                       1
national public school           1
nagpur board                     1
jharkhand academic council       1
bse,odisha                       1
Name: count, Length: 275, dtype: int64

In [189]:
new_df['10board'].unique()

array(['board ofsecondary education,ap', 'cbse', 'state board',
       'mp board bhopal', 'icse',
       'karnataka secondary school of examination', 'up',
       'karnataka state education examination board', 'ssc',
       'kerala state technical education', nan, 'bseb',
       'state board of secondary education, andhra pradesh',
       'matriculation', 'gujarat state board', 'karnataka state board',
       'wbbse', 'maharashtra state board', 'icse board', 'up board',
       'board of secondary education(bse) orissa',
       'little jacky matric higher secondary school',
       'uttar pradesh board', 'bsc,orissa', 'mp board', 'upboard',
       'matriculation board', 'j & k bord', 'rbse',
       'central board of secondary education', 'pseb', 'jkbose',
       'haryana board of school education,(hbse)', 'metric', 'ms board',
       'kseeb', 'stateboard', 'maticulation',
       'karnataka secondory education board', 'mumbai board', 'sslc',
       'kseb', 'board secondary  education', 'matric board',
       'board of secondary education',
       'west bengal board of secondary education',
       'jharkhand secondary examination board,ranchi', 'u p board',
       'bseb,patna', 'hsc', 'bse', 'sss pune',
       'karnataka education board (keeb)', 'kerala',
       'state board of secondary education( ssc)', 'gsheb',
       'up(allahabad)', 'nagpur', 'don bosco maatriculation school',
       'karnataka state secondary education board', 'maharashtra',
       'karnataka secondary education board',
       'himachal pradesh board of school education',
       'certificate of middle years program of ib',
       'karnataka board of secondary education',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'board of secendary education orissa',
       'karantaka secondary education and examination borad', 'hbsc',
       'kseeb(karnataka secondary education examination board)',
       'cbse[gulf zone]', 'hbse', 'state(karnataka board)',
       'jharkhand accademic council',
       'jharkhand secondary examination board (ranchi)',
       'karnataka secondary education examination board', 'delhi board',
       'mirza ahmed ali baig', 'jseb', 'bse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'upbhsie', 'secondary board of rajasthan',
       'tamilnadu matriculation board', 'jharkhand secondary board',
       'board of secondary education,andhara pradesh', 'up baord',
       'state', 'board of intermediate education',
       'state board of secondary education,andhra pradesh',
       'up board , allahabad',
       'stjosephs girls higher sec school,dindigul', 'maharashtra board',
       'education board of kerala', 'board of ssc',
       'maharashtra state board pune',
       'board of school education harayana',
       'secondary school cerfificate', 'maharashtra sate board', 'ksseb',
       'bihar examination board, patna', 'latur',
       'board of secondary education, rajasthan', 'state borad hp',
       'cluny', 'bsepatna', 'up borad', 'ssc board of andrapradesh',
       'matric', 'bse,orissa', 'ssc-andhra pradesh', 'mp',
       'karnataka education board', 'mhsbse',
       'karnataka sslc board bangalore', 'karnataka', 'u p',
       'secondary school of education', 'state board of karnataka',
       'karnataka secondary board', 'andhra pradesh board ssc',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'hse,orissa', 'national public school', 'nagpur board',
       'jharkhand academic council', 'bsemp',
       'board of secondary education, andhra pradesh',
       'board of secondary education orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of secondary education,ap',
       'board of secondary education,andhra pradesh',
       'jawahar navodaya vidyalaya', 'aisse',
       'karnataka board of higher education', 'bihar',
       'kerala state board', 'cicse', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'bharathi matriculation school', 'uttaranchal state board',
       'wbbsce', 'mp state board', 'seba(assam)', 'anglo indian', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'msbshse,pune', 'tamilnadu state board', 'kerala university',
       'uttaranchal shiksha avam pariksha parishad',
       'bse(board of secondary education)',
       'bright way college, (up board)',
       'school secondary education, andhra pradesh',
       'secondary state certificate',
       'maharashtra state board of secondary and higher secondary education,pune',
       'andhra pradesh state board', 'stmary higher secondary', 'cgbse',
       'secondary school certificate', 'rajasthan board ajmer', 'mpbse',
       'pune board', 'cbse ', 'board of secondary education,orissa',
       'maharashtra state board,pune', 'up bord',
       'kiran english medium high school', 'state board (jac, ranchi)',
       'gujarat board', 'state board ', 'sarada high scchool',
       'kalaimagal matriculation higher secondary school',
       'karnataka board', 'maharastra board', 'sslc board',
       'ssc maharashtra board', 'tamil nadu state', 'uttrakhand board',
       'bihar secondary education board,patna',
       'haryana board of school education',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ksseb(karnataka state board)', 'nashik board',
       'jharkhand secondary education board', 'himachal pradesh board',
       'maharashtra satate board',
       'maharashtra state board mumbai divisional board',
       'dav public school,hehal',
       'state board of secondary education, ap',
       'rajasthan board of secondary education', 'hsce',
       'karnataka secondary education',
       'board of secondary education,odisha', 'maharashtra nasik board',
       'west bengal board of secondary examination (wbbse)',
       'holy cross matriculation hr sec school', 'cbsc', 'apssc',
       'bseb patna', 'kolhapur', 'bseb, patna', 'up board allahabad',
       'biharboard', 'nagpur board,nagpur', 'pune', 'gyan bharati school',
       'rbse,ajmer', 'board of secondaray education',
       'secondary school education', 'state bord', 'jbse,jharkhand',
       'hse', 'madhya pradesh board', 'bihar school examination board',
       'west bengal board of secondary eucation', 'state boardmp board ',
       'icse board , new delhi',
       'board of secondary education (bse) orissa',
       'maharashtra state board for ssc',
       'board of secondary school education', 'latur board',
       "stmary's convent inter college", 'nagpur divisional board',
       'ap state board', 'cgbse raipur', 'uttranchal board', 'ksbe',
       'central board of secondary education, new delhi',
       'bihar school examination board patna', 'cbse board',
       'sslc,karnataka', 'mp-bse', 'up bourd', 'dav public school sec 14',
       'board of school education haryana',
       'council for indian school certificate examination',
       'aurangabad board', 'j&k state board of school education',
       'maharashtra state board of secondary and higher secondary education',
       'maharashtra state boar of secondary and higher secondary education',
       'ssc regular', 'karnataka state examination board', 'nasik',
       'west bengal  board of secondary education', 'up board,allahabad',
       'bseb ,patna',
       'state board - west bengal board of secondary education : wbbse',
       'maharashtra state board of secondary & higher secondary education',
       'delhi public school', 'karnataka secondary eduction',
       'secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)', 'apsche',
       'board of  secondary education',
       'board of high school and intermediate education uttarpradesh',
       'kea', 'board of secondary education - andhra pradesh',
       'ap state board for secondary education', 'seba',
       'punjab school education board, mohali',
       'jharkhand acedemic council', 'hse,board',
       'board of ssc education andhra pradesh', 'up-board', 'bse,odisha'],
      dtype=object)

In [190]:
replace_list_10state = ['board ofsecondary education,ap', 'state board',
       'mp board bhopal',
       'karnataka secondary school of examination', 'up',
       'karnataka state education examination board', 'ssc',
       'kerala state technical education', 'bseb',
       'state board of secondary education, andhra pradesh',
       'matriculation', 'gujarat state board', 'karnataka state board',
       'wbbse', 'maharashtra state board', 'up board',
       'board of secondary education(bse) orissa',
       'little jacky matric higher secondary school',
       'uttar pradesh board', 'bsc,orissa', 'mp board', 'upboard',
       'matriculation board', 'j & k bord', 'rbse',
       'central board of secondary education', 'pseb', 'jkbose',
       'haryana board of school education,(hbse)', 'metric', 'ms board',
       'kseeb', 'stateboard', 'maticulation',
       'karnataka secondory education board', 'mumbai board', 'sslc',
       'kseb', 'board secondary  education', 'matric board',
       'board of secondary education',
       'west bengal board of secondary education',
       'jharkhand secondary examination board,ranchi', 'u p board',
       'bseb,patna', 'hsc', 'bse', 'sss pune',
       'karnataka education board (keeb)', 'kerala',
       'state board of secondary education( ssc)', 'gsheb',
       'up(allahabad)', 'nagpur', 'don bosco maatriculation school',
       'karnataka state secondary education board', 'maharashtra',
       'karnataka secondary education board',
       'himachal pradesh board of school education',
       'certificate of middle years program of ib',
       'karnataka board of secondary education',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'board of secendary education orissa',
       'karantaka secondary education and examination borad', 'hbsc',
       'kseeb(karnataka secondary education examination board)', 'hbse', 'state(karnataka board)',
       'jharkhand accademic council',
       'jharkhand secondary examination board (ranchi)',
       'karnataka secondary education examination board',
       'mirza ahmed ali baig', 'jseb', 'bse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'upbhsie', 'secondary board of rajasthan',
       'tamilnadu matriculation board', 'jharkhand secondary board',
       'board of secondary education,andhara pradesh', 'up baord',
       'state', 'board of intermediate education',
       'state board of secondary education,andhra pradesh',
       'up board , allahabad',
       'stjosephs girls higher sec school,dindigul', 'maharashtra board',
       'education board of kerala', 'board of ssc',
       'maharashtra state board pune',
       'board of school education harayana',
       'secondary school cerfificate', 'maharashtra sate board', 'ksseb',
       'bihar examination board, patna', 'latur',
       'board of secondary education, rajasthan', 'state borad hp',
       'cluny', 'bsepatna', 'up borad', 'ssc board of andrapradesh',
       'matric', 'bse,orissa', 'ssc-andhra pradesh', 'mp',
       'karnataka education board', 'mhsbse',
       'karnataka sslc board bangalore', 'karnataka', 'u p',
       'secondary school of education', 'state board of karnataka',
       'karnataka secondary board', 'andhra pradesh board ssc',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'hse,orissa', 'national public school', 'nagpur board',
       'jharkhand academic council', 'bsemp',
       'board of secondary education, andhra pradesh',
       'board of secondary education orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of secondary education,ap',
       'board of secondary education,andhra pradesh',
       'jawahar navodaya vidyalaya', 'aisse',
       'karnataka board of higher education', 'bihar',
       'kerala state board', 'cicse', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'bharathi matriculation school', 'uttaranchal state board',
       'wbbsce', 'mp state board', 'seba(assam)', 'anglo indian', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'msbshse,pune', 'tamilnadu state board', 'kerala university',
       'uttaranchal shiksha avam pariksha parishad',
       'bse(board of secondary education)',
       'bright way college, (up board)',
       'school secondary education, andhra pradesh',
       'secondary state certificate',
       'maharashtra state board of secondary and higher secondary education,pune',
       'andhra pradesh state board', 'stmary higher secondary', 'cgbse',
       'secondary school certificate', 'rajasthan board ajmer', 'mpbse',
       'pune board', 'board of secondary education,orissa',
       'maharashtra state board,pune', 'up bord',
       'kiran english medium high school', 'state board (jac, ranchi)',
       'gujarat board', 'state board ', 'sarada high scchool',
       'kalaimagal matriculation higher secondary school',
       'karnataka board', 'maharastra board', 'sslc board',
       'ssc maharashtra board', 'tamil nadu state', 'uttrakhand board',
       'bihar secondary education board,patna',
       'haryana board of school education',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ksseb(karnataka state board)', 'nashik board',
       'jharkhand secondary education board', 'himachal pradesh board',
       'maharashtra satate board',
       'maharashtra state board mumbai divisional board',
       'dav public school,hehal',
       'state board of secondary education, ap',
       'rajasthan board of secondary education', 'hsce',
       'karnataka secondary education',
       'board of secondary education,odisha', 'maharashtra nasik board',
       'west bengal board of secondary examination (wbbse)',
       'holy cross matriculation hr sec school', 'apssc',
       'bseb patna', 'kolhapur', 'bseb, patna', 'up board allahabad',
       'biharboard', 'nagpur board,nagpur', 'pune', 'gyan bharati school',
       'rbse,ajmer', 'board of secondaray education',
       'secondary school education', 'state bord', 'jbse,jharkhand',
       'hse', 'madhya pradesh board', 'bihar school examination board',
       'west bengal board of secondary eucation', 'state boardmp board ',
       
       'board of secondary education (bse) orissa',
       'maharashtra state board for ssc',
       'board of secondary school education', 'latur board',
       "stmary's convent inter college", 'nagpur divisional board',
       'ap state board', 'cgbse raipur', 'uttranchal board', 'ksbe',
       
       'bihar school examination board patna', 
       'sslc,karnataka', 'mp-bse', 'up bourd', 'dav public school sec 14',
       'board of school education haryana',
       'council for indian school certificate examination',
       'aurangabad board', 'j&k state board of school education',
       'maharashtra state board of secondary and higher secondary education',
       'maharashtra state boar of secondary and higher secondary education',
       'ssc regular', 'karnataka state examination board', 'nasik',
       'west bengal  board of secondary education', 'up board,allahabad',
       'bseb ,patna',
       'state board - west bengal board of secondary education : wbbse',
       'maharashtra state board of secondary & higher secondary education',
       'delhi public school', 'karnataka secondary eduction',
       'secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)', 'apsche',
       'board of  secondary education',
       'board of high school and intermediate education uttarpradesh',
       'kea', 'board of secondary education - andhra pradesh',
       'ap state board for secondary education', 'seba',
       'punjab school education board, mohali',
       'jharkhand acedemic council', 'hse,board',
       'board of ssc education andhra pradesh', 'up-board', 'bse,odisha']

In [191]:
replace_list_10cbse = ['cbse board','central board of secondary education, new delhi', 'cbsc', 'cbse ', 'cbse', 'cbse[gulf zone]', 
                       'delhi board', 'cbse ', 'cbsc', 'central board of secondary education, new delhi', 'cbse board']

In [192]:
replace_list_10icse = ['icse board , new delhi','icse board', 'icse']

In [193]:
for i in replace_list_10state:
    new_df['10board'].replace(i,'state',inplace=True)

for i in replace_list_10cbse:
    new_df['10board'].replace(i,'cbse',inplace=True)

for i in replace_list_10icse:
    new_df['10board'].replace(i,'icse',inplace=True)

new_df['10board'].unique()

array(['state', 'cbse', 'icse', nan], dtype=object)

In [194]:
new_df['10board'].fillna(new_df['10board'].mode()[0], inplace = True)

In [195]:
new_df['10board'].value_counts()

10board
state    2313
cbse     1402
icse      283
Name: count, dtype: int64

In [196]:
new_df['12board'].unique()

array(['board of intermediate education,ap', 'cbse', 'state board',
       'mp board', 'isc', 'icse', 'karnataka pre university board', 'up',
       'p u board, karnataka', 'dept of pre-university education', 'bie',
       'kerala state hse board', 'up board', nan, 'bseb', 'chse', 'puc',
       ' upboard',
       'state  board of intermediate education, andhra pradesh',
       'karnataka state board',
       'west bengal state council of technical education', 'wbchse',
       'maharashtra state board', 'ssc', 'isc board',
       'sda matric higher secondary school', 'uttar pradesh board', 'ibe',
       'chsc', 'board of intermediate', 'isce', 'upboard', 'sbtet',
       'hisher seconadry examination(state board)', 'pre university',
       'borad of intermediate', 'j & k board',
       'intermediate board of andhra pardesh', 'rbse',
       'central board of secondary education', 'jkbose', 'hbse',
       'board of intermediate education', 'state', 'ms board', 'pue',
       'intermediate state board', 'stateboard', 'hsc',
       'electonincs and communication(dote)', 'karnataka pu board',
       'government polytechnic mumbai , mumbai board', 'pu board',
       'baord of intermediate education', 'apbie', 'andhra board',
       'tamilnadu stateboard',
       'west bengal council of higher secondary education',
       'cbse,new delhi', 'u p board', 'intermediate', 'biec,patna',
       'diploma in engg (e &tc) tilak maharashtra vidayapeeth',
       'hsc pune', 'pu board karnataka', 'kerala', 'gsheb',
       'up(allahabad)', 'nagpur', 'st joseph hr sec school',
       'pre university board', 'ipe', 'maharashtra', 'kea', 'apsb',
       'himachal pradesh board of school education', 'staae board',
       'international baccalaureate (ib) diploma', 'nios',
       'karnataka board of university',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'scte vt orissa', 'matriculation',
       'department of pre-university education', 'wbscte',
       'preuniversity board(karnataka)', 'jharkhand accademic council',
       'bieap', 'msbte (diploma in computer technology)',
       'jharkhand acamedic council (ranchi)',
       'department of pre-university eduction', 'biec', 'all india board',
       'sjrcw', ' board of intermediate', 'msbte',
       'sri sankara vidyalaya', 'chse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'state board of technical eduction panchkula', 'upbhsie', 'apbsc',
       'state board of technical education and training',
       'secondary board of rajasthan',
       'tamilnadu higher secondary education board',
       'jharkhand academic council',
       'board of intermediate education,hyderabad', 'up baord', 'pu',
       'dte', 'board of secondary education', 'pre-university',
       'board of intermediate education,andhra pradesh',
       'up board , allahabad', 'srv girls higher sec school,rasipuram',
       'intermediate board of education,andhra pradesh',
       'intermediate board examination',
       'department of pre-university education, bangalore',
       'stmiras college for girls', 'mbose',
       'department of pre-university education(government of karnataka)',
       'dpue', 'msbte pune', 'board of school education harayana',
       'sbte, jharkhand', 'bihar intermediate education council, patna',
       'higher secondary', 's j polytechnic', 'latur',
       'board of secondary education, rajasthan', 'jyoti nivas', 'pseb',
       'biec-patna', 'board of intermediate education,andra pradesh',
       'chse,orissa', 'pre-university board', 'mp', 'intermediate board',
       'govt of karnataka department of pre-university education',
       'karnataka education board',
       'board of secondary school of education', 'pu board ,karnataka',
       'karnataka secondary education board', 'karnataka sslc',
       'board of intermediate ap', 'u p', 'state board of karnataka',
       'directorate of technical education,banglore', 'matric board',
       'andhpradesh board of intermediate education',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'bte up', 'scte and vt ,orissa', 'hbsc',
       'jawahar higher secondary school', 'nagpur board', 'bsemp',
       'board of intermediate education, andhra pradesh',
       'board of higher secondary orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of intermediate education:ap,hyderabad', 'science college',
       'karnatak pu board', 'aissce', 'pre university board of karnataka',
       'bihar', 'kerala state board', 'uo board', 'cicse',
       'karnataka board', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'jaycee matriculation school',
       'board of higher secondary examination, kerala',
       'uttaranchal state board', 'intermidiate', 'bciec,patna', 'bice',
       'karnataka state', 'state broad', 'wbbhse', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'gseb/technical education board', 'msbshse,pune',
       'tamilnadu state board', 'board of technical education',
       'kerala university', 'uttaranchal shiksha avam pariksha parishad',
       'chse(concil of higher secondary education)',
       'bright way college, (up board)', 'board of intermidiate',
       'higher secondary state certificate', 'karanataka secondary board',
       'maharashtra board', 'andhra pradesh state board', 'cgbse',
       'diploma in computers', 'bte,delhi', 'rajasthan board ajmer',
       'mpbse', 'pune board', 'state board of technical education',
       'gshseb', 'amravati divisional board',
       'dote (diploma - computer engg)', 'up bord',
       'karnataka pre-university board', 'jharkhand board',
       'punjab state board of technical education & industrial training',
       'department of technical education',
       'sri chaitanya junior kalasala', 'state board (jac, ranchi)',
       'gujarat board', 'aligarh muslim university',
       'tamil nadu state board', 'hse', 'karnataka secondary education',
       'state board ', 'karnataka pre unversity board',
       'ks rangasamy institute of technology',
       'karnataka board secondary education', 'narayana junior college',
       'bteup', 'board of intermediate(bie)', 'hsc maharashtra board',
       'tamil nadu state', 'uttrakhand board', 'psbte',
       'stateboard/tamil nadu', 'intermediate council patna',
       'technical board, punchkula', 'board of intermidiate examination',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ap board', 'nashik board', 'himachal pradesh board',
       'maharashtra satate board',
       'andhra pradesh board of secondary education',
       'tamil nadu polytechnic',
       'maharashtra state board mumbai divisional board',
       'department of pre university education',
       'dav public school,hehal', 'board of intermediate education, ap',
       'rajasthan board of secondary education',
       'department of technical education, bangalore', 'chse,odisha',
       'maharashtra nasik board',
       'west bengal council of higher secondary examination (wbchse)',
       'holy cross matriculation hr sec school', 'cbsc',
       'pu  board karnataka', 'biec patna', 'kolhapur', 'bseb, patna',
       'up board allahabad', 'intermideate', 'nagpur board,nagpur',
       'diploma(msbte)', 'dav public school',
       'pre university board, karnataka', 'ssm srsecschool', 'state bord',
       'jstb,jharkhand', 'intermediate board of education',
       'mp board bhopal', 'pub', 'madhya pradesh board',
       'bihar intermediate education council',
       'west bengal council of higher secondary eucation',
       'isc board , new delhi', 'mpc',
       'certificate for higher secondary education (chse)orissa',
       'maharashtra state board for hsc',
       'board of intermeadiate education', 'latur board',
       'andhra pradesh', 'karnataka pre-university',
       'lucknow public college', 'nagpur divisional board',
       'ap intermediate board', 'cgbse raipur', 'uttranchal board',
       'jiec', 'central board of secondary education, new delhi',
       'bihar school examination board patna',
       'state board of technical education harayana', 'mp-bse',
       'up bourd', 'dav public school sec 14',
       'haryana state board of technical education chandigarh',
       'council for indian school certificate examination',
       'jaswant modern school', 'madhya pradesh open school',
       'aurangabad board', 'j&k state board of school education',
       'diploma ( maharashtra state board of technical education)',
       'board of technicaleducation ,delhi',
       'maharashtra state boar of secondary and higher secondary education',
       'hslc (tamil nadu state board)',
       'karnataka state examination board', 'puboard', 'nasik',
       'west bengal board of higher secondary education',
       'up board,allahabad', 'board of intrmediate education,ap', 'cbese',
       'karnataka state pre- university board',
       'state board - west bengal council of higher secondary education : wbchse',
       'maharashtra state board of secondary & higher secondary education',
       'biec, patna', 'state syllabus', 'cbse board', 'scte&vt',
       'board of intermediate,ap',
       'secnior secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)',
       'board of intermidiate education,ap',
       'board of high school and intermediate education uttarpradesh',
       'higher secondary education',
       'board fo intermediate education, ap', 'intermedite',
       'ap board for intermediate education', 'ahsec',
       'punjab state board of technical education & industrial training, chandigarh',
       'state board - tamilnadu', 'jharkhand acedemic council',
       'scte & vt (diploma)', 'karnataka pu',
       'board of intmediate education ap', 'up-board',
       'boardofintermediate'], dtype=object)

In [197]:
replace_list_12state=['board of intermediate education,ap', 'state board',
       'mp board',  'karnataka pre university board', 'up',
       'p u board, karnataka', 'dept of pre-university education', 'bie',
       'kerala state hse board', 'up board', 'bseb', 'chse', 'puc',
       ' upboard',
       'state  board of intermediate education, andhra pradesh',
       'karnataka state board',
       'west bengal state council of technical education', 'wbchse',
       'maharashtra state board', 'ssc',
       'sda matric higher secondary school', 'uttar pradesh board', 'ibe',
       'chsc', 'board of intermediate', 'upboard', 'sbtet',
       'hisher seconadry examination(state board)', 'pre university',
       'borad of intermediate', 'j & k board',
       'intermediate board of andhra pardesh', 'rbse',
       'central board of secondary education', 'jkbose', 'hbse',
       'board of intermediate education', 'state', 'ms board', 'pue',
       'intermediate state board', 'stateboard', 'hsc',
       'electonincs and communication(dote)', 'karnataka pu board',
       'government polytechnic mumbai , mumbai board', 'pu board',
       'baord of intermediate education', 'apbie', 'andhra board',
       'tamilnadu stateboard',
       'west bengal council of higher secondary education',
       'cbse,new delhi', 'u p board', 'intermediate', 'biec,patna',
       'diploma in engg (e &tc) tilak maharashtra vidayapeeth',
       'hsc pune', 'pu board karnataka', 'kerala', 'gsheb',
       'up(allahabad)', 'nagpur', 'st joseph hr sec school',
       'pre university board', 'ipe', 'maharashtra', 'kea', 'apsb',
       'himachal pradesh board of school education', 'staae board',
       'international baccalaureate (ib) diploma', 'nios',
       'karnataka board of university',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'scte vt orissa', 'matriculation',
       'department of pre-university education', 'wbscte',
       'preuniversity board(karnataka)', 'jharkhand accademic council',
       'bieap', 'msbte (diploma in computer technology)',
       'jharkhand acamedic council (ranchi)',
       'department of pre-university eduction', 'biec',
       'sjrcw', ' board of intermediate', 'msbte',
       'sri sankara vidyalaya', 'chse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'state board of technical eduction panchkula', 'upbhsie', 'apbsc',
       'state board of technical education and training',
       'secondary board of rajasthan',
       'tamilnadu higher secondary education board',
       'jharkhand academic council',
       'board of intermediate education,hyderabad', 'up baord', 'pu',
       'dte', 'board of secondary education', 'pre-university',
       'board of intermediate education,andhra pradesh',
       'up board , allahabad', 'srv girls higher sec school,rasipuram',
       'intermediate board of education,andhra pradesh',
       'intermediate board examination',
       'department of pre-university education, bangalore',
       'stmiras college for girls', 'mbose',
       'department of pre-university education(government of karnataka)',
       'dpue', 'msbte pune', 'board of school education harayana',
       'sbte, jharkhand', 'bihar intermediate education council, patna',
       'higher secondary', 's j polytechnic', 'latur',
       'board of secondary education, rajasthan', 'jyoti nivas', 'pseb',
       'biec-patna', 'board of intermediate education,andra pradesh',
       'chse,orissa', 'pre-university board', 'mp', 'intermediate board',
       'govt of karnataka department of pre-university education',
       'karnataka education board',
       'board of secondary school of education', 'pu board ,karnataka',
       'karnataka secondary education board', 'karnataka sslc',
       'board of intermediate ap', 'u p', 'state board of karnataka',
       'directorate of technical education,banglore', 'matric board',
       'andhpradesh board of intermediate education',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'bte up', 'scte and vt ,orissa', 'hbsc',
       'jawahar higher secondary school', 'nagpur board', 'bsemp',
       'board of intermediate education, andhra pradesh',
       'board of higher secondary orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of intermediate education:ap,hyderabad', 'science college',
       'karnatak pu board', 'aissce', 'pre university board of karnataka',
       'bihar', 'kerala state board', 'uo board', 
       'karnataka board', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'jaycee matriculation school',
       'board of higher secondary examination, kerala',
       'uttaranchal state board', 'intermidiate', 'bciec,patna', 'bice',
       'karnataka state', 'state broad', 'wbbhse', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'gseb/technical education board', 'msbshse,pune',
       'tamilnadu state board', 'board of technical education',
       'kerala university', 'uttaranchal shiksha avam pariksha parishad',
       'chse(concil of higher secondary education)',
       'bright way college, (up board)', 'board of intermidiate',
       'higher secondary state certificate', 'karanataka secondary board',
       'maharashtra board', 'cgbse', 'diploma in computers', 'bte,delhi',
       'rajasthan board ajmer', 'mpbse', 'pune board',
       'state board of technical education', 'gshseb',
       'amravati divisional board', 'dote (diploma - computer engg)',
       'karnataka pre-university board', 'jharkhand board',
       'punjab state board of technical education & industrial training',
       'department of technical education',
       'sri chaitanya junior kalasala', 'state board (jac, ranchi)',
       'aligarh muslim university', 'tamil nadu state board', 'hse',
       'karnataka secondary education', 'state board ',
       'karnataka pre unversity board',
       'ks rangasamy institute of technology',
       'karnataka board secondary education', 'narayana junior college',
       'bteup', 'board of intermediate(bie)', 'hsc maharashtra board',
       'tamil nadu state', 'uttrakhand board', 'psbte',
       'stateboard/tamil nadu', 'intermediate council patna',
       'technical board, punchkula', 'board of intermidiate examination',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ap board', 'nashik board', 'himachal pradesh board',
       'maharashtra satate board',
       'andhra pradesh board of secondary education',
       'tamil nadu polytechnic',
       'maharashtra state board mumbai divisional board',
       'department of pre university education',
       'dav public school,hehal', 'board of intermediate education, ap',
       'rajasthan board of secondary education',
       'department of technical education, bangalore', 'chse,odisha',
       'maharashtra nasik board',
       'west bengal council of higher secondary examination (wbchse)',
       'holy cross matriculation hr sec school', 'cbsc',
       'pu  board karnataka', 'biec patna', 'kolhapur', 'bseb, patna',
       'up board allahabad', 'nagpur board,nagpur', 'diploma(msbte)',
       'dav public school', 'pre university board, karnataka',
       'ssm srsecschool', 'state bord', 'jstb,jharkhand',
       'intermediate board of education', 'mp board bhopal', 'pub',
       'madhya pradesh board', 'bihar intermediate education council',
       'west bengal council of higher secondary eucation',
        'mpc',
       'certificate for higher secondary education (chse)orissa',
       'maharashtra state board for hsc',
       'board of intermeadiate education', 'latur board',
       'andhra pradesh', 'karnataka pre-university',
       'lucknow public college', 'nagpur divisional board',
       'ap intermediate board', 'cgbse raipur', 'uttranchal board',
       'jiec', 
       'bihar school examination board patna',
       'state board of technical education harayana', 'mp-bse',
       'up bourd', 'dav public school sec 14',
       'haryana state board of technical education chandigarh',
       'council for indian school certificate examination',
       'jaswant modern school', 'madhya pradesh open school',
       'aurangabad board', 'j&k state board of school education',
       'diploma ( maharashtra state board of technical education)',
       'board of technicaleducation ,delhi',
       'maharashtra state boar of secondary and higher secondary education',
       'hslc (tamil nadu state board)',
       'karnataka state examination board', 'puboard', 'nasik',
       'west bengal board of higher secondary education',
       'up board,allahabad', 'board of intrmediate education,ap', 
       'karnataka state pre- university board',
       'state board - west bengal council of higher secondary education : wbchse',
       'maharashtra state board of secondary & higher secondary education',
       'biec, patna', 'state syllabus', 'cbse board', 'scte&vt',
       'board of intermediate,ap',
       'secnior secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)',
       'board of intermidiate education,ap',
       'board of high school and intermediate education uttarpradesh',
       'higher secondary education',
       'board fo intermediate education, ap', 'intermedite',
       'ap board for intermediate education', 'ahsec',
       'punjab state board of technical education & industrial training, chandigarh',
       'state board - tamilnadu', 'jharkhand acedemic council',
       'scte & vt (diploma)', 'karnataka pu',
       'board of intmediate education ap', 'up-board', 'andhra pradesh state board',
       'up bord', 'gujarat board', 'intermideate',
       'boardofintermediate']

In [198]:
#replacing the redundant values of the 12board column with 'state','cbse','icse' 
for i in replace_list_12state:
    new_df['12board'].replace(i,'state',inplace=True)

replace_list_12cbse=['cbse', 
       'all india board', 
       'central board of secondary education, new delhi', 'cbese']
for i in replace_list_12cbse:
    new_df['12board'].replace(i,'cbse',inplace=True)

replace_list_12icse=[ 'isc', 'icse', 'isc board', 'isce', 'cicse',
       'isc board , new delhi']
for i in replace_list_12icse:
    new_df['12board'].replace(i,'icse',inplace=True)

new_df['12board'].unique()

array(['state', 'cbse', 'icse', nan], dtype=object)

In [199]:
new_df['12board'].value_counts(dropna=False)

12board
state    2058
cbse     1403
NaN       359
icse      178
Name: count, dtype: int64

In [200]:
new_df['12board'].fillna(new_df['12board'].mode()[0], inplace = True)

In [201]:
new_df['12board'].value_counts(dropna=False)

12board
state    2417
cbse     1403
icse      178
Name: count, dtype: int64

In [202]:
new_df['JobCity'].fillna(new_df['JobCity'].mode()[0], inplace = True)

In [203]:
new_df['JobCity'].value_counts()

JobCity
Bangalore           1088
Noida                368
Hyderabad            335
Pune                 290
Chennai              272
                    ...
Asansol                1
Tirunelvelli           1
Ernakulam              1
Nanded                 1
Asifabadbanglore       1
Name: count, Length: 338, dtype: int64

### Dealing with same categorical columns like 10board and 12board

We are going to deal with categorical columns same as what we did before imputing 10th and 12th board names in these steps:
1. First we will count the categories in all the textual columns
2. map the unique values to respective categories or,
3. select only the top 10 categories(where applied) and group remaining in other category

In [204]:
new_df.select_dtypes(include=['object']).nunique()

DOJ                 81
DOL                 67
Designation        419
JobCity            338
Gender               2
DOB               1872
10board              3
12board              3
Degree               4
Specialization      46
CollegeState        26
dtype: int64

As per above results:

**We need to perform above operations on this columns - 'Designation', 'JobCity', 'Specialization', 'CollegeState'**

In [205]:
new_df['Designation'].unique()[:5]

array(['senior quality engineer', 'assistant manager', 'systems engineer',
       'senior software engineer', 'get'], dtype=object)

In [206]:
# Target categories
target_categories = [
    "software engineer", "quality assurance", "engineer(other)",
    "systems engineer", "project manager", "data scientist", 
    "business analyst", "sales", "management", "hr", 
    "support", "other"
]

keyword_mappings = {
    "software engineer": ["software", "code", "develop", "program", "application", 'java', 'python', 
                          "web", "front end", "back end", "full stack", "tester", "ios", "android", 
                          "ui", "ux", "mobile", ".net", "php", "javascript"],
    "quality assurance": ["qa", "test", "quality", "assurance", "automation", "etl", "sdet"],
    "engineer(other)": ["mechanical", "civil", "site", "electrical", 
                         "industrial", "hardware", "telecom", "embedded", "field", "design"],
    "systems engineer": ["systems", "network", "infrastructure", "admin", "administrator"],
    "project manager": ["project", "program", "coordinator"],
    "data scientist": ["data", "analyst", "scientist", "analytics", "machine learning", "ai", 
                       "business intelligence", "bi", "statistics", "modeling"],
    "business analyst": ["analyst", "business"], 
    "sales": ["sales", "marketing", "business development", "account", "territory", "customer"],
    "management": ["manager", "director", "vp", "lead", "operations", "supervisor"],
    "hr": ["hr", "human resources", "recruiter", "recruitment", "talent", "staffing"],
    "support": ["support", "help desk", "technical", "analyst", "technician", "customer service"],
}

In [207]:
def categorize_data(data, keyword_mappings, target_categories):
    #data = data.lower()
    
    # 1. Keyword-based matching
    for category, keywords in keyword_mappings.items():
        if any(word in data for word in keywords):
            return category

    # 2. Fuzzy matching 
    def find_best_match(data):
        best_match = ("other", 50)
        for category in target_categories:
            score = fuzz.partial_ratio(data.lower(), category)  
            if score > best_match[1]:
                best_match = (category, score)
        return best_match[0]

    return find_best_match(data)

In [208]:
new_df['Designation'] = new_df['Designation'].apply(lambda designation: categorize_data(designation, keyword_mappings, target_categories))

In [209]:
new_df['Designation'].value_counts()

Designation
software engineer    2159
systems engineer      543
data scientist        294
quality assurance     218
engineer(other)       153
support               143
sales                 124
other                 122
project manager       121
management            111
hr                      7
business analyst        3
Name: count, dtype: int64

In [210]:
new_df['JobCity'] = new_df['JobCity'].str.lower().str.strip()

In [211]:
job_target_cities = new_df['JobCity'].value_counts()[:10].index

In [212]:
job_target_cities = job_target_cities.tolist() 
job_target_cities.append('other')

In [213]:
job_target_cities

['bangalore',
 'noida',
 'hyderabad',
 'pune',
 'chennai',
 'gurgaon',
 'new delhi',
 'kolkata',
 'mumbai',
 'jaipur',
 'other']

In [214]:
new_df['JobCity'] = new_df['JobCity'].apply(lambda cities: categorize_data(cities, {}, job_target_cities))

In [215]:
new_df.JobCity.value_counts()

JobCity
bangalore    1220
noida         505
hyderabad     428
pune          340
chennai       324
other         284
gurgaon       237
new delhi     229
mumbai        178
kolkata       131
jaipur        122
Name: count, dtype: int64

In [216]:
specialization_map = \
{'electronics and communication engineering' : 'EC',
 'computer science & engineering' : 'CS',
 'information technology' : 'CS' ,
 'computer engineering' : 'CS',
 'computer application' : 'CS',
 'mechanical engineering' : 'ME',
 'electronics and electrical engineering' : 'EC',
 'electronics & telecommunications' : 'EC',
 'electrical engineering' : 'EL',
 'electronics & instrumentation eng' : 'EC',
 'civil engineering' : 'CE',
 'electronics and instrumentation engineering' : 'EC',
 'information science engineering' : 'CS',
 'instrumentation and control engineering' : 'EC',
 'electronics engineering' : 'EC',
 'biotechnology' : 'other',
 'other' : 'other',
 'industrial & production engineering' : 'other',
 'chemical engineering' : 'other',
 'applied electronics and instrumentation' : 'EC',
 'computer science and technology' : 'CS',
 'telecommunication engineering' : 'EC',
 'mechanical and automation' : 'ME',
 'automobile/automotive engineering' : 'ME',
 'instrumentation engineering' : 'EC',
 'mechatronics' : 'ME',
 'electronics and computer engineering' : 'CS',
 'aeronautical engineering' : 'other',
 'computer science' : 'CS',
 'metallurgical engineering' : 'other',
 'biomedical engineering' : 'other',
 'industrial engineering' : 'other',
 'information & communication technology' : 'CS',
 'electrical and power engineering' : 'EL',
 'industrial & management engineering' : 'other',
 'computer networking' : 'CS',
 'embedded systems technology' : 'EC',
 'power systems and automation' : 'EL',
 'computer and communication engineering' : 'CS',
 'information science' : 'CS',
 'internal combustion engine' : 'ME',
 'ceramic engineering' : 'other',
 'mechanical & production engineering' : 'ME',
 'control and instrumentation engineering' : 'EC',
 'polymer technology' : 'other',
 'electronics' : 'EC'}

In [217]:
new_df['Specialization'] = new_df['Specialization'].map(specialization_map)

In [218]:
new_df.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000.0,6/1/12 0:00,present,quality assurance,bangalore,f,2/19/90 0:00,84.3,state,2007,95.8,state,2,B.Tech/B.E.,CS,78.00,0,Andhra Pradesh,2011.0,515,585,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000.0,9/1/13 0:00,present,management,other,m,10/4/89 0:00,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,EC,70.06,0,Madhya Pradesh,2012.0,695,610,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000.0,6/1/14 0:00,present,systems engineer,chennai,f,8/3/92 0:00,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,CS,70.00,0,Uttar Pradesh,2014.0,615,545,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000.0,7/1/11 0:00,present,software engineer,gurgaon,m,12/5/89 0:00,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,CS,74.64,1,Delhi,2011.0,635,585,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000.0,3/1/14 0:00,3/1/15 0:00,project manager,bangalore,m,2/27/91 0:00,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,EC,73.90,0,Uttar Pradesh,2012.0,545,625,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

### Dealing with Datetime columns

In [219]:
new_df['DOB'] = pd.to_datetime(new_df.DOB)
new_df['DOJ'] = pd.to_datetime(new_df.DOJ)
#new_df['DOB'] = pd.to_datetime(new_df.DOB, errors = "coerce")

In [220]:
new_df.DOL.replace('present', value= '31-12-15', inplace=True)
new_df.DOL = pd.to_datetime(new_df.DOL)

In [221]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   float64
 1   DOJ                    3998 non-null   datetime64[ns]
 2   DOL                    3998 non-null   datetime64[ns]
 3   Designation            3998 non-null   object
 4   JobCity                3998 non-null   object
 5   Gender                 3998 non-null   object
 6   DOB                    3998 non-null   datetime64[ns]
 7   10percentage           3998 non-null   float64
 8   10board                3998 non-null   object
 9   12graduation           3998 non-null   int64
 10  12percentage           3998 non-null   float64
 11  12board                3998 non-null   object
 12  CollegeTier            3998 non-null   int64
 13  Degree                 3998 non-null   object
 14  Specialization         3998 non-null   object
 15  collegeGPA             3998 non-null   float64
 16  CollegeCityTier        3998 non-null   int64
 17  CollegeState           3998 non-null   object
 18  GraduationYear         3998 non-null   float64
 19  English                3998 non-null   int64
 20  Logical                3998 non-null   int64
 21  Quant                  3998 non-null   int64
 22  Domain                 3998 non-null   float64
 23  ComputerProgramming    3130 non-null   float64
 24  ElectronicsAndSemicon  1144 non-null   float64
 25  ComputerScience        902 non-null    float64
 26  conscientiousness      3998 non-null   float64
 27  agreeableness          3998 non-null   float64
 28  extraversion           3998 non-null   float64
 29  nueroticism            3998 non-null   float64
 30  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](3), float64(14), int64(6), object(8)
memory usage: 968.4+ KB

In [222]:
new_df.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000.0,2012-06-01,2015-12-31,quality assurance,bangalore,f,1990-02-19,84.3,state,2007,95.8,state,2,B.Tech/B.E.,CS,78.00,0,Andhra Pradesh,2011.0,515,585,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000.0,2013-09-01,2015-12-31,management,other,m,1989-10-04,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,EC,70.06,0,Madhya Pradesh,2012.0,695,610,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000.0,2014-06-01,2015-12-31,systems engineer,chennai,f,1992-08-03,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,CS,70.00,0,Uttar Pradesh,2014.0,615,545,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000.0,2011-07-01,2015-12-31,software engineer,gurgaon,m,1989-12-05,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,CS,74.64,1,Delhi,2011.0,635,585,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000.0,2014-03-01,2015-03-01,project manager,bangalore,m,1991-02-27,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,EC,73.90,0,Uttar Pradesh,2012.0,545,625,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

### calculating Age and Tenure of the applicants

In [223]:
new_df['Age'] = 2015 - new_df['DOB'].dt.year

In [224]:
#checking if there are rows where date of joining is higher than date of leaving
(new_df['DOL'] - new_df['DOJ'] < '0 days').sum()

40

In [225]:
#as the rows are small in number we will drop this rows
new_df.drop(new_df[(new_df['DOL'] - new_df['DOJ'] < '0 days')].index, axis=0, inplace=True)

In [226]:
new_df['Tenure'] = new_df['DOL'].dt.year - new_df['DOJ'].dt.year

In [227]:
new_df.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Age,Tenure
0,420000.0,2012-06-01,2015-12-31,quality assurance,bangalore,f,1990-02-19,84.3,state,2007,95.8,state,2,B.Tech/B.E.,CS,78.00,0,Andhra Pradesh,2011.0,515,585,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455,25,3
1,500000.0,2013-09-01,2015-12-31,management,other,m,1989-10-04,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,EC,70.06,0,Madhya Pradesh,2012.0,695,610,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637,26,2
2,325000.0,2014-06-01,2015-12-31,systems engineer,chennai,f,1992-08-03,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,CS,70.00,0,Uttar Pradesh,2014.0,615,545,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721,23,1
3,1100000.0,2011-07-01,2015-12-31,software engineer,gurgaon,m,1989-12-05,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,CS,74.64,1,Delhi,2011.0,635,585,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194,26,4
4,200000.0,2014-03-01,2015-03-01,project manager,bangalore,m,1991-02-27,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,EC,73.90,0,Uttar Pradesh,2012.0,545,625,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295,24,1

In [228]:
new_df.shape

(3958, 33)

In [229]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3958 entries, 0 to 3997
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3958 non-null   float64
 1   DOJ                    3958 non-null   datetime64[ns]
 2   DOL                    3958 non-null   datetime64[ns]
 3   Designation            3958 non-null   object
 4   JobCity                3958 non-null   object
 5   Gender                 3958 non-null   object
 6   DOB                    3958 non-null   datetime64[ns]
 7   10percentage           3958 non-null   float64
 8   10board                3958 non-null   object
 9   12graduation           3958 non-null   int64
 10  12percentage           3958 non-null   float64
 11  12board                3958 non-null   object
 12  CollegeTier            3958 non-null   int64
 13  Degree                 3958 non-null   object
 14  Specialization         3958 non-null   object
 15  collegeGPA             3958 non-null   float64
 16  CollegeCityTier        3958 non-null   int64
 17  CollegeState           3958 non-null   object
 18  GraduationYear         3958 non-null   float64
 19  English                3958 non-null   int64
 20  Logical                3958 non-null   int64
 21  Quant                  3958 non-null   int64
 22  Domain                 3958 non-null   float64
 23  ComputerProgramming    3095 non-null   float64
 24  ElectronicsAndSemicon  1130 non-null   float64
 25  ComputerScience        891 non-null    float64
 26  conscientiousness      3958 non-null   float64
 27  agreeableness          3958 non-null   float64
 28  extraversion           3958 non-null   float64
 29  nueroticism            3958 non-null   float64
 30  openess_to_experience  3958 non-null   float64
 31  Age                    3958 non-null   int32
 32  Tenure                 3958 non-null   int32
dtypes: datetime64[ns](3), float64(14), int32(2), int64(6), object(8)
memory usage: 1020.4+ KB

In [230]:
new_df.select_dtypes(include=['object']).nunique()

Designation       12
JobCity           11
Gender             2
10board            3
12board            3
Degree             4
Specialization     6
CollegeState      26
dtype: int64

In [231]:
#dropping doj, dol and dob because we have already calculated tenure and age of each individuals
new_df.drop(columns=['DOJ', 'DOL', "DOB"], inplace=True)

### Checking if all the numerical columns are in correct range

In [232]:
print((new_df['10percentage'] <= 10).sum())
print((new_df['12percentage'] <= 10).sum())
print((new_df['collegeGPA'] <= 10).sum())

0
0
12

In [233]:
#dealing with this 12 GPA where the user might have entered on a 10 scale basis
new_df.loc[(new_df['collegeGPA'] <= 10), 'collegeGPA']

7       8.58
138     6.63
788     6.80
1419    6.85
1439    8.07
1767    7.56
2151    6.95
2229    8.13
2293    9.30
2662    8.88
2691    8.89
3308    6.45
Name: collegeGPA, dtype: float64

In [234]:
new_df.loc[(new_df['collegeGPA'] <= 10), 'collegeGPA'] = (new_df.loc[(new_df['collegeGPA'] <= 10), 'collegeGPA'])*10

In [235]:
#as we can see now every result is on a percentage basis
new_df.loc[(new_df['collegeGPA'] <= 10), 'collegeGPA']

Series([], Name: collegeGPA, dtype: float64)

In [236]:
new_df[new_df['Salary'] > 1500000].shape

(17, 30)

In [237]:
#removing outliers from the target variable 
new_df = new_df[new_df['Salary'] <= 1500000]

### final preprocessing of the dataframe before analysis

In [238]:
new_df['Gender'].replace({'f':'female', 'm':"male"}, inplace=True)
new_df['GraduationYear'] = new_df['GraduationYear'].astype('int64')
new_df['CollegeCityTier'] = new_df['CollegeCityTier'].astype('object')
new_df['CollegeTier'] = new_df['CollegeTier'].astype('object')

In [239]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3941 entries, 0 to 3997
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3941 non-null   float64
 1   Designation            3941 non-null   object
 2   JobCity                3941 non-null   object
 3   Gender                 3941 non-null   object
 4   10percentage           3941 non-null   float64
 5   10board                3941 non-null   object
 6   12graduation           3941 non-null   int64
 7   12percentage           3941 non-null   float64
 8   12board                3941 non-null   object
 9   CollegeTier            3941 non-null   object
 10  Degree                 3941 non-null   object
 11  Specialization         3941 non-null   object
 12  collegeGPA             3941 non-null   float64
 13  CollegeCityTier        3941 non-null   object
 14  CollegeState           3941 non-null   object
 15  GraduationYear         3941 non-null   int64
 16  English                3941 non-null   int64
 17  Logical                3941 non-null   int64
 18  Quant                  3941 non-null   int64
 19  Domain                 3941 non-null   float64
 20  ComputerProgramming    3080 non-null   float64
 21  ElectronicsAndSemicon  1126 non-null   float64
 22  ComputerScience        888 non-null    float64
 23  conscientiousness      3941 non-null   float64
 24  agreeableness          3941 non-null   float64
 25  extraversion           3941 non-null   float64
 26  nueroticism            3941 non-null   float64
 27  openess_to_experience  3941 non-null   float64
 28  Age                    3941 non-null   int32
 29  Tenure                 3941 non-null   int32
dtypes: float64(13), int32(2), int64(5), object(10)
memory usage: 923.7+ KB

#### Binning the target column "SALARY" for better visualizations going forward

In [240]:
bins = [0, 250000, 500000, 1000000, float('inf')] 
labels = ['< 250k', '250k - 500k', '500k - 1M', '> 1M'] 

new_df['SalaryBin'] = pd.cut(new_df['Salary'], bins=bins, labels=labels)

In [241]:
new_df.head()

,Salary,Designation,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Age,Tenure,SalaryBin
0,420000.0,quality assurance,bangalore,female,84.3,state,2007,95.8,state,2,B.Tech/B.E.,CS,78.00,0,Andhra Pradesh,2011,515,585,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455,25,3,250k - 500k
1,500000.0,management,other,male,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,EC,70.06,0,Madhya Pradesh,2012,695,610,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637,26,2,250k - 500k
2,325000.0,systems engineer,chennai,female,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,CS,70.00,0,Uttar Pradesh,2014,615,545,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721,23,1,250k - 500k
3,1100000.0,software engineer,gurgaon,male,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,CS,74.64,1,Delhi,2011,635,585,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194,26,4,> 1M
4,200000.0,project manager,bangalore,male,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,EC,73.90,0,Uttar Pradesh,2012,545,625,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295,24,1,< 250k

In [242]:
new_df.columns

Index(['Salary', 'Designation', 'JobCity', 'Gender', '10percentage', '10board',
       '12graduation', '12percentage', '12board', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityTier', 'CollegeState',
       'GraduationYear', 'English', 'Logical', 'Quant', 'Domain',
       'ComputerProgramming', 'ElectronicsAndSemicon', 'ComputerScience',
       'conscientiousness', 'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience', 'Age', 'Tenure', 'SalaryBin'],
      dtype='object')

In [243]:
new_column_order =['Salary', 'SalaryBin', 'Age', 'Gender', 'Designation' , 'Tenure', 'JobCity', '10percentage', '10board',
       '12graduation', '12percentage', '12board', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityTier', 'CollegeState',
       'GraduationYear', 'English', 'Logical', 'Quant', 'Domain',
       'ComputerProgramming', 'ElectronicsAndSemicon', 'ComputerScience',
       'conscientiousness', 'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience']

df =  new_df.reindex(columns=new_column_order)

In [244]:
df.head()

,Salary,SalaryBin,Age,Gender,Designation,Tenure,JobCity,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000.0,250k - 500k,25,female,quality assurance,3,bangalore,84.3,state,2007,95.8,state,2,B.Tech/B.E.,CS,78.00,0,Andhra Pradesh,2011,515,585,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000.0,250k - 500k,26,male,management,2,other,85.4,cbse,2007,85.0,cbse,2,B.Tech/B.E.,EC,70.06,0,Madhya Pradesh,2012,695,610,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000.0,250k - 500k,23,female,systems engineer,1,chennai,85.0,cbse,2010,68.2,cbse,2,B.Tech/B.E.,CS,70.00,0,Uttar Pradesh,2014,615,545,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000.0,> 1M,26,male,software engineer,4,gurgaon,85.6,cbse,2007,83.6,cbse,1,B.Tech/B.E.,CS,74.64,1,Delhi,2011,635,585,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000.0,< 250k,24,male,project manager,1,bangalore,78.0,cbse,2008,76.8,cbse,2,B.Tech/B.E.,EC,73.90,0,Uttar Pradesh,2012,545,625,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3941 entries, 0 to 3997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3941 non-null   float64
 1   SalaryBin              3941 non-null   category
 2   Age                    3941 non-null   int32
 3   Gender                 3941 non-null   object
 4   Designation            3941 non-null   object
 5   Tenure                 3941 non-null   int32
 6   JobCity                3941 non-null   object
 7   10percentage           3941 non-null   float64
 8   10board                3941 non-null   object
 9   12graduation           3941 non-null   int64
 10  12percentage           3941 non-null   float64
 11  12board                3941 non-null   object
 12  CollegeTier            3941 non-null   object
 13  Degree                 3941 non-null   object
 14  Specialization         3941 non-null   object
 15  collegeGPA             3941 non-null   float64
 16  CollegeCityTier        3941 non-null   object
 17  CollegeState           3941 non-null   object
 18  GraduationYear         3941 non-null   int64
 19  English                3941 non-null   int64
 20  Logical                3941 non-null   int64
 21  Quant                  3941 non-null   int64
 22  Domain                 3941 non-null   float64
 23  ComputerProgramming    3080 non-null   float64
 24  ElectronicsAndSemicon  1126 non-null   float64
 25  ComputerScience        888 non-null    float64
 26  conscientiousness      3941 non-null   float64
 27  agreeableness          3941 non-null   float64
 28  extraversion           3941 non-null   float64
 29  nueroticism            3941 non-null   float64
 30  openess_to_experience  3941 non-null   float64
dtypes: category(1), float64(13), int32(2), int64(5), object(10)
memory usage: 927.7+ KB

In [246]:
df.to_csv('ameo_analysis_data.csv', index=False) # preprocessed data